//VARIABLES
$bgHeaderFooter: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
$transicion1: all 0.3s ease-in-out;
$transicion2: all 0.2s ease-in-out;

//MIXINS
@mixin flex ($flexFlow, $justifyContent, $alignItems, $gap){
    display: flex;
    flex-flow: $flexFlow;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
}

@mixin grid ($cantColumnas, $medidaColumnas, $cantFilas, $medidaFilas, $rowGap, $columnGap) {
    display: grid;
    grid-template-columns: repeat($cantColumnas, $medidaColumnas);
    grid-template-rows: repeat($cantFilas, $medidaFilas);
    row-gap: $rowGap;
    column-gap: $columnGap;
}