/* --FONTS-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Lemon&family=Podkova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f6fbff;
}
img{
    width: 100%;
    height: 100%;
}
ul{
    padding: 0;
}

/* --HEADER-- */
header{
    grid-area: header;
    /* display: flex;
    justify-content: space-between; */
    background: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
}
/*.header__img{
    width: 8rem;
    height: fit-content;
    padding: 0.5rem;
    align-self: center;
    transition: all 0.2s ease-in-out;
}
.header__img:hover{
    transform: translateY(-3px);
    filter: drop-shadow(4px 4px #65649574);
}
nav{
    margin-right: 1rem;
    grid-area: nav;
    padding: 1rem;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: inline;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    color: white;
    border-bottom: 2px solid white;
    transition: all 0.3s ease;
} */
.logo{
    width: 7rem;
    transition: all 0.3s ease;
}
.logo:hover{
    transform: translateY(-3px);
    filter: drop-shadow(4px 4px #65649574);
    transition: all 0.3s ease;
}
.navbar-toggler{
    border: 3px solid black !important;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-size: 3.2rem;
}
.navbar-toggler-icon{
    width: 4.2rem;
    height: 4rem;
}
.navbar{
    background: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
    padding: 0;
}
.navbar-nav{
    gap: 8px;
}
.nav-link{
    display: inline;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
    color: black !important;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.nav-link:hover{
    color: white !important;
    border-bottom: 2px solid white;
    transition: all 0.3s ease;
}
.navbar-collapse{
    justify-content: flex-end;
}


/* --GRIDS-- */
.gridIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.gridUs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.gridContacto{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.gridDestinos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


/* --MAIN-- */
.main{
    grid-area: main;
}
.main__h1{
    align-self: center;
    background-color: #f2f2f2ae;
    padding: 0.5rem;
    border-radius: 5px;
}
.main__h1 h1{
    font-size: 4.5rem;
    font-family: 'Montserrat';
    font-weight: 600;
    text-shadow: 4px 3px 9px rgba(0,0,0,0.6);
}
.main__banner{
    display: flex;
    justify-content: center;
    background-image: url(images/low-angle-shot-times-square-new-york-usa.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 20rem;
}
.main__h2{
    font-size: 3.3rem;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 500;
    line-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main__h3{
    font-size: 2.3rem;
    max-width: 65ch;
    line-height: 3.5rem;
    margin: 0.5rem;
    font-family: 'Montserrat';
    font-weight: 200;
    text-align: center;
}


/* --INDEX-- */
.main__presentacion{
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    align-items : center;
    justify-content: center;
    overflow-x: hidden;
}
.presentacion__img{
    width: 20rem;
}
.presentacion__p{
    padding: 1rem;
    max-width: 60ch;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
    font-family: 'Esteban';
}
.presentacion__p--italic{
    font-style: italic;
}
.presentacion__p--bold{
    font-weight: bold;
}
.presentacion__destinos{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
.presentacion__destinos p{
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Esteban';
}
.presentacion__btn{
    width: 8.9rem; 
    height: 8.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 50%;
    border: none;
    background-size: 150% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}
.presentacion__btn:hover{
    background-position: right center;
}
.presentacion__btn:active {
    top: 2px;
}
.presentacion__btn a i{
    text-align: center;
    font-size: 5.3rem;
    color: #fff;
    padding: 1.5rem;
}

/* --NOSOTROS-- */
.main__us{
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    gap: 5rem;
    margin: 1rem;
    overflow-x: hidden;
}
.us__div{
    display: flex;
    align-items : center;
    justify-content: center;
    gap: 1rem;
}
.us__div p{
    max-width: 63ch;
}
.us__div1{
    width: 18rem;
}
.us__div2{
    flex-direction: row-reverse;
}
.us__div2 p{
    text-align: end;
}
.us__div3 p{
    text-align: start;
}
.us__div4{
    flex-direction: row-reverse;
}
.us__div4 p{
    text-align: end;
}
.container__img{
    border-radius: 10px;
    min-width: 15rem;
    max-width: 20rem;
    overflow: hidden;
}
.container__img img{
    transition: ease-in-out 1.5s;
}
.container__img img:hover{
    transform: scale(1.4) translateY(15px);
}
.container__img2{
    min-width: 20rem;
    max-width: 25rem;
}


/* --DESTINOS-- */
.presentacion__p--pos{
    max-width: 70ch;
    line-height: 3.5rem;
}
.main__h3--fontWeight{
    font-weight: 400;
    font-size: 2.8rem;
}
.main__h3--lugares{
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.destinos__div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.destinos__div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.destinos__mapa{
    width: 80%;
    height: 55rem;
    margin: 2rem;
    border: 10px ridge #b5bcc2;
}
.destinos__mapa iframe{
    height: 100%;
    width: 100%;
}
.mapaBtn{
    display: flex;
    justify-content: center;
    width: 6rem;
    padding: 1rem;
    background-color: #b5bcc287;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 2%;
    transition: all 0.3s ease;
}
.mapaBtn:hover{
    background-color: #ffffff;
    transition: all 0.3s ease;
}
.fa-map-location-dot{
    font-size: 3.5rem;
    color: black;
}
.destinos__nav{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-self: center;
    margin-bottom: 4rem;
}
.destinos__nav li{
    list-style: none;
}
.destinos__nav li a{
    display: inline;
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    font-size: 2.3rem;
    font-family: 'Amiri';
    font-weight: bold;
    transition: all 0.3s ease;
}
.destinos__nav li a:hover{
    color: #ffffff;
    background-color: #000000c6;
    transition: all 0.3s ease;
    font-weight: normal;
    box-shadow: 12px 12px 6px 1px rgba(181,188,194,1);
}
.destinos__barrios li{
    list-style-image: url('https://api.iconify.design/ps/facebook-places.svg?color=red');
    margin-right: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.destinos__barrios li h4{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Montserrat';
    line-height: 3rem;
}
.destinos__barrios li p{
    font-family: 'Esteban';
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: lighter;
    max-width: 68ch;
}


/* --FORMULARIOS-- */
.main__sectionForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.section__form{
    display: flex;
    justify-content: space-around;
    width: 65%;
    gap: 3rem;
}
.section__form img{
    min-width: 20rem;
    width: 30%;
    align-self: center;
}
form{
    width: 40rem;
    border: none;
    background-color: #f6fbff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form__div{
    width: 100%;
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem;
    border-bottom: 3px solid rgb(0, 0, 0);
}
.form__div--flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form__div label, p{
    color: rgb(0, 0, 0);
}
.form__div--inputStyle{
    border-radius: 10px;
    padding: 0.8rem;
    border-bottom: 1.5px solid black;
    background-color: #ffffff;
    font-size: 1.6rem;
}
.form__resetSubmit{
    border: none;
    display: flex;
    justify-content: center !important;
}
.form__resetSubmit--style{
    width: 11rem;
    padding: 0.5rem;
    color: #fff;
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 6px;
}
.form__resetSubmit--style1{
    font-size: 1.6rem;
    border: 2px solid #d90429;
    background: #d90429;
}
.form__resetSubmit--style2{
    font-size: 1.6rem;
    border: 2px solid #57cc99;
    background: #57cc99;
}
.form__resetSubmit--style1:hover {
    background: #fff;
    color: #d90429
}
.form__resetSubmit--style2:hover {
    background: #fff;
    color: #57cc99
}


/* --FOOTER-- */
footer{
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    background: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
    padding: 2rem;
    width: 100%;
}
footer div{
    align-self: center;
}
footer div p{
    margin: 0;
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.footer__div2{
    display: flex;
    gap: 1rem;
}
footer div i{
    font-size: 2.5rem;
    width: 2.8rem;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}
footer div i:hover{
    transform: translateY(-3px);
    filter: drop-shadow(5px 5px #65649574);
    color: rgb(255, 255, 255);
    transition: all 0.2s ease;
}


/* --MEDIA QUERIES-- */
@media only screen and (min-width: 320px) and (max-width: 426px){
    /* .gridIndex{
        grid-template-rows: 32rem auto 8%;    
    }
    .gridUs{
        grid-template-rows: 32rem auto 5%;
    } */
    /* .gridContacto{
        grid-template-columns: 1fr;
    } */

    header{
        background: linear-gradient(to bottom, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
    }
    /* .header__img{
        width: 10rem;
    } */
    /* nav{
        justify-content: center;
        margin-right: 0;
    }
    nav ul{
        flex-direction: column;
        gap: 2rem;
    }
    nav ul li{
        text-align: center;
    } */
    .main__h1{
        width: 90%;
    }
    .main__h1 h1{
        max-width: 70ch;
        text-align: center;
    }

    .presentacion__p{
        text-align: center;
    }

    .main__us{
        gap: 2rem;
    }
    .us__div{
        flex-direction: column;
    }
    .us__div p{
        text-align: center;
    }

    .section__form{
        flex-direction: column;
        align-items: center;
    }
    form{
        width: 25rem;
    }

    .destinos__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .destinos__nav li{
        padding: 0.2rem;
        text-align: center;
    }
    .destinos__nav li a{
        font-size: 1.7rem;
    }
    .destinos__barrios li p{
        line-height: 3rem;
    }
    .main__h3--lugares{
        margin-bottom: 1rem;
    }
    .mapaBtn{
        width: 4.6rem;
        bottom: 5%;
    }
    .fa-map-location-dot{
        font-size: 2.5rem;
    }

    footer{
        flex-direction: column;
        gap: 1rem;
    }
    footer div p{
        text-align: center;
    }

    .navbar{
        background: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
    }
    .navbar-nav{
        gap: 15px;
        margin-bottom: 10px;
    }
    .nav-link{
        font-size: 23px;
    }
    .nav-link:hover{
        border-bottom: 0;
        text-decoration: underline white;
        transition: all 0.2s ease-in;
    }
    .logo{
        width: 80px;
    }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
    /* .gridIndex{
        grid-template-rows: 17rem auto 8%;    
    }
    .gridUs{
        grid-template-rows: 17rem auto 6%;
    }
    .gridContacto{
        grid-template-columns: 1fr;
    } */

    header{
        background: linear-gradient(to bottom, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
        /* justify-content: space-around; */
    }
    /* .header__img{
        width: 10rem;
    } */
    /* nav{
        margin: 0;
    }
    nav ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "inicio inicio"
        "nosotros destinos"
        "contacto contacto"
        "nuevoLugar nuevoLugar";
    }
    nav ul li{
        text-align: center;
    } */
    /* .nav__inicio{
        grid-area: inicio;
    }
    .nav__nosotros{
        grid-area: nosotros;
    }
    .nav__destinos{
        grid-area: destinos;
    }
    .nav__contacto{
        grid-area: contacto;
    }
    .nav__nuevoLugar{
        grid: nuevoLugar;
        grid-column: 1/3;
    } */
    .main__h1 h1{
        max-width: 70ch;
        text-align: center;
    }

    .main__us{
        gap: 2rem;
    }
    .us__div{
        flex-direction: column;
    }
    .us__div p{
        text-align: center;
    }

    .section__form{
        flex-direction: column;
        align-items: center;
    }
    form{
        width: 30rem;
    }

    .destinos__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        row-gap: 1rem;
    }
    .destinos__nav li{
        padding: 0.5rem;
        text-align: center;
    }
    .destinos__nav li a{
        font-size: 2rem;
    }
    .main__h3--lugares{
        margin-bottom: 1rem;
    }
    .mapaBtn{
        width: 5rem;
        bottom: 3%;
    }
    .fa-map-location-dot{
        font-size: 2.8rem;
    }

    footer{
        flex-direction: column;
        gap: 1rem;
    }
    footer div p{
        text-align: center;
    }

    .navbar{
        background: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
    }
    .navbar-nav{
        gap: 15px;
        margin-bottom: 10px;
    }
    .nav-link{
        font-size: 23px;
    }
    .nav-link:hover{
        border-bottom: 0;
        text-decoration: underline white;
        transition: all 0.2s ease-in;
    }
    .logo{
        width: 80px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1025px){
    /* nav{
        padding: 0;
    }
    nav ul{
        gap: 1rem;
    }
    nav ul li a{
        font-size: 1.6rem;
    } */
    .destinos__nav{
        display: grid;
        min-width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
    .destinos__nav li a{
        font-size: 1.7rem;
    }
    .mapaBtn{
        bottom: 15%;
    }

    .nav-link{
        font-size: 18px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1499px){
    .destinos__nav{
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
        align-items: center;
        justify-items: center;
    }
}