/* --FONTS-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Lemon&family=Podkova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* PARTIALS */
@import "vars-y-mixins";
@import "general";


/* --INDEX-- */
.main__presentacion{
    @include flex(row wrap, center, center, 1rem);
    margin: 1rem;
    overflow-x: hidden;
}
.presentacion__img{
    width: 20rem;
}
.presentacion__p{
    padding: 1rem;
    max-width: 60ch;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: left;
    font-family: 'Esteban';
    &--bold{
        font-weight: bold;
    }
    &--italic{
        font-style: italic;
    }
}
.presentacion__destinos{
    @include flex(column nowrap, center, center, 1rem);
    padding: 1rem;
    p{
        font-weight: bold;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Esteban';
    }
}
.presentacion__btn{
    width: 8.4rem; 
    height: 7.9rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 50%;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
    &:hover{
        background-position: right center;
    }
    &:active{
        top: 3px;
    }
    a i{
        text-align: center;
        font-size: 4.9rem;
        color: white;
        padding: 1.5rem;
    }
}


/* --NOSOTROS-- */
.main__us{
    @include flex(column nowrap, center, center, 5rem);
    margin: 1rem;
    overflow-x: hidden;
}
.us__div{
    @include flex(row nowrap, center, center, 1rem);
    p{
        max-width: 63ch;
    }
    .container__img{
        border-radius: 10px;
        min-width: 15rem;
        max-width: 20rem;
        overflow: hidden;
        img{
            transition: 1.5s ease-in-out;
            &:hover{
                transform: scale(1.4) translateY(15px);
            }
        }
    }
    .container__img2{
        min-width: 20rem;
        max-width: 25rem;
    }
}
.us__div1{
    width: 18rem;
}

$div: end;

@if $div == end {
    .us__div2, .us__div4{
        flex-direction: row-reverse;
        p{
            text-align: end;
        }
    }
} @else {
    .us__div3{
        flex-direction: row;
        p{
            text-align: start;
        }
    }
}


/* --DESTINOS-- */
.destinos__div1{
    @include flex(column nowrap, center, center, 1rem);
    .presentacion__p--pos{
        @extend .presentacion__p;
        max-width: 70ch;
        line-height: 3.5rem;
    }
    .destinos__mapa{
        width: 80%;
        height: 55rem;
        margin: 2rem;
        border: 10px ridge #b5bcc2;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
.destinos__div2{
    @include flex(column nowrap, center, center, 1rem);
    .main__h3--fontWeight{
        font-weight: 400;
        font-size: 2.8rem;
    }
    .destinos__nav{
        @include flex(row wrap, center, center, 2rem);
        margin-bottom: 3rem;
        li{
            list-style: none;
            a{
                display: inline;
                background-color: white;
                color: black;
                border: 2px solid black;
                border-radius: 10px;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                text-decoration: none;
                font-size: 2.3rem;
                font-family: 'Amiri';
                font-weight: bold;
                transition: $transicion2;
                &:hover{
                    color: white;
                    background-color: #000000c6;
                    transition: $transicion2;
                    box-shadow: 8px 8px 6px 1px rgba(181,188,194,1);
                }
            }
        }
    }
}
.main__h3--lugares{
    font-weight: 700;
    font-size: 3rem;
    margin: 1.5rem;
}
.mapaBtn{
    @include flex(row nowrap, center, center, 0rem);
    width: 6rem;
    padding: 1rem;
    background-color: #b5bcc287;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 2%;
    transition: $transicion1;
    &:hover{
        background-color: white;
        transition: $transicion1;
    }
    .fa-map-location-dot{
        font-size: 3.5rem;
        color: black;
    }
}
.destinos__barrios{
    @include flex(column nowrap, center, center, 2rem);
}
.destinos__barrios li{
    list-style: none;
    margin-top: 1rem;
    h4{
        font-size: 2.1rem;
        font-weight: 600;
        font-family: 'Montserrat';
        line-height: 3rem;
        text-align: center;
    }
    p{
        font-family: 'Esteban';
        font-size: 1.8rem;
        line-height: 2.6rem;
        font-weight: lighter;
        max-width: 65ch;
    }
    .card{
        width: 90vw;
        border-radius: 10px;
        box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.31);
        transition: $transicion2;
        &-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
        }
        &-img-top{
            margin-top: 1rem;
            width: 3.5rem;
            align-self: center;
        }
        &:hover{
            transform: translateY(-2px);
            filter: drop-shadow(6px 6px #52526a5b);
            transition: $transicion2;
        }
    }
}
.btn-info{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    background-color: #7283A6;
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid black;
    &:hover{
        color: white;
        background-color: orangered;
        border: 2px solid black;
        transition: $transicion2;
    }
    &:focus{
        color: white;
        background-color: orangered;
        border-color: rgb(255, 94, 35);
        box-shadow: $shadowOrange;
        transition: $transicion2;
    }
}
.btn:active:focus{
    box-shadow: 0 0 0 0.40rem rgba(255, 135, 36, 0.655);
}


/* --FORMULARIOS-- */
.main__sectionForm{
    display: flex;
    flex-direction: column;
    .d-flex{
        .contenedorFormulario{
            border-radius: 10px;
            transition: all .15s ease-in-out;
            form{
                font-family: 'Montserrat';
                padding: 1rem;
                label{
                    font-weight: 600;
                }
                p{
                    font-weight: 500;
                }
                textarea{
                    overflow: hidden;
                }
                .form-floating{
                    .form-control{
                    height: 5rem;
                    }
                    .form-select{
                        height: 5.05rem;
                        border: 1px solid black;
                        border-radius: 8px;
                        cursor: pointer;
                        &:focus{
                            border-color: rgb(255, 94, 35);
                            box-shadow: $shadowOrange;
                        }
                    }
                }
                .form-control, .form-check-input{
                    border: 1px solid black;
                    border-radius: 8px;
                    &:focus{
                        border-color: rgb(255, 94, 35);
                        box-shadow: $shadowOrange;
                    }
                }
                .form-check-input{
                    cursor: pointer;
                    &:checked{
                        border: orange;
                        background-color: orangered;
                    } 
                }
                .valid-feedback, .invalid-feedback{
                    font-size: 1.4rem;
                }
            }
        }
        .shadowPropio{
            box-shadow: $shadowLarge;
            -webkit-box-shadow: $shadowLarge;
            -moz-box-shadow: $shadowLarge;
        }
    }
}
.form__resetSubmit{
    border: none;
    @include flex(row nowrap, center, center, 0rem);
    &--style{
        width: 15rem;
        padding: 0.5rem;
        color: white;
        margin: 1rem;
        font-size: 2.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: $transicion1;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 10px;
        &:hover{
            background: white;
        }
    }
}
/*DISTINCIÓN ENTRE BOTONES*/
$botonesFormulario: (
    reset: #d90429,
    submit: #57cc99
);
@each $boton, $color in $botonesFormulario {
    .form__resetSubmit--#{$boton}{
        border: 2px solid $color;
        background-color: $color;
        &:hover{
            color: $color;
        }
    }
}

/* MEDIA QUERIES */
@import "media";